---
import { Bird, Cog, Lock, Rocket, Server, ShieldCheck } from "lucide-astro";
import Benefit from "./Benefit.astro";
---

<section class="mx-auto px-3 py-16 md:py-24 max-w-screen-xl">
  <h2 class="text-center font-bold text-4xl md:text-5xl hyphens-auto mb-2">
    Why Ferron?
  </h2>
  <div class="flex flex-col md:flex-row md:flex-wrap">
    <Benefit
      icon={Bird}
      title="Free as in freedom"
      description="You don't need to worry about issues related to proprietary software, such as backdoors or licensing issues. Ferron is licensed under a permissive MIT license, and you can contribute to its development via a Git repository."
    />
    <Benefit
      icon={Rocket}
      title="Fast"
      description="Ferron is throughly optimized for web server performance. According to our own benchmarks, it performs similarly to a popular Caddy web server. You can also enable caching for Ferron for even higher performance."
    />
    <Benefit
      icon={ShieldCheck}
      title="Memory-safe"
      description="Ferron is written in Rust, a programming language designed for memory safety. This ensures that Ferron has lower risk of memory safety bugs compared to popular web servers written in C or C++."
    />
    <Benefit
      icon={Cog}
      title="Easy to configure"
      description="Get up and running fast with straightforward configuration options that save you time and let you focus on what matters. You also don't need to worry much about securing your web server, since Ferron enables secure configuration by default."
    />
    <Benefit
      icon={Lock}
      title="Automatic TLS"
      description="Ferron supports automatic TLS for public websites via Let's Encrypt, which can be optionally enabled. This means you might not need to worry about manual TLS certificate management, as Ferron will obtain these certificates automatically."
    />
    <Benefit
      icon={Server}
      title="Cross-platform"
      description="Ferron can be run across multiple operating systems, including GNU/Linux, Windows Server, and FreeBSD. This means you can deploy Ferron on your preferred platform without compatibility concerns."
    />
  </div>
</section>
